article ul {
	padding: 0 0 10% 40%;
	list-style: url("Site_Images/lotus_flower.png"); 
	font-size: 1.5em; 
	line-height: 2em; 
}

article a {
	text-decoration: none; 
	color: black;
}

article a:hover {
	font-weight: bold;
	color: #E80C7A;
}