@media screen and (max-width: 748px) {

.services {
width: 100%;
text-align: center;
/*background-color: blue;*/
}

.reviews {
width: 50%;
margin: 0 25% 50px 21.5%;
/*background-color: green;*/
}

.about {
width: 100%;
text-align: center;
}

#contactdetails li {
 list-style: none;
}

footer {
	margin: auto;
}

}

