@media screen and (max-width: 748px) {

.services {
width: 100%;
text-align: center;
background: red;
}

.reviews {
width: 50%;
margin: 0 25% 50px 21.5%;
background: blue;
}

.about {
	width: 100%;
text-align: center;
background: red;
}

footer {
	background: green;
	margin: auto;
}

}

